<form #newArticleForm>
  <h1>New Article</h1>
  <label>Enter Article Title:</label>
  <input #newTitle>
  <label>Enter Article Content:</label>
  <input #newContent>
  <label>Enter Your Username:</label>
  <input #newAuthor>
  <label>Enter An Image URL:</label>
  <input #newImage>
  <div>
   <label for="categories">Select a Category</label>
   <select #newCategory>
     <option>EarthPorn</option>
     <option>History</option>
     <option>WorldNews</option>
     <option>Pics</option>
     <option>Gaming</option>
   </select>
 </div>
  <br>
  <button (click)="submitForm(newTitle.value, newContent.value, newAuthor.value, newImage.value, newCategory.value); newArticleForm.reset();">Done</button>
</form>
